<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id ="nombre">Schimpf Mauricio</h3>
        <h5>Full Stack Developer Jr.</h5>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam reiciendis, eius corporis doloremque dolor aliquam cumque dolore, suscipit voluptatem sit nam perferendis repudiandae, alias vero harum libero dicta ea quasi!</p>
        </span>
    </div>
</div>
