.row{
    padding: 20px;
}
div{
    background-color: rgb(24, 24, 97);
    text-align: center;
    color:rgb(199, 199, 212);
}

/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 420px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 27%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 36%;
        top: 420px;
    }
}


/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 5%;
}