<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugit numquam eos, accusamus non magnam pariatur tempore amet nulla neque. Hic voluptatem odio maiores numquam a ab amet excepturi vel?</p>
        </ul>
        <ul>
            <li><h1>EESOPI 8128</h1> - <h3>2008-2012</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugit numquam eos, accusamus non magnam pariatur tempore amet nulla neque. Hic voluptatem odio maiores numquam a ab amet excepturi vel?</p>
        </ul>
        <ul>
            <li><h1>Argentina Programa</h1> - <h3>2021-2022</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste fugit numquam eos, accusamus non magnam pariatur tempore amet nulla neque. Hic voluptatem odio maiores numquam a ab amet excepturi vel?</p>
        </ul>
    </div>
</div>
