.row{
    padding: 20 px;
    background-color: rgb(24, 24, 97);
    color: rgb(199, 199, 212);
}
.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    box-shadow: 15px 15px 30px black;
    box-shadow: ejeX ejeY difumasion color;
}